{% extends "base.html" %}
{% block title %} Breweries {{name}} {% endblock %}


{% block content %}
<!-- PLACEHOLDER TABLE, REPLACE ASAP -->
<head>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" media="screen"> 
	<h1 class = "gold" align="center">Breweries</h1>
	<br />
	<br />
</head>
<body>
	<div class="grid row">
		<div class="col-md-3">
			<div class="list-group">
				<div class="dropdown">
					<button class=" list-group-item btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort By
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="#">Name</a></li>
							<li><a href="#">Type</a></li>
							<li><a href="#">Address</a></li>
						</ul>
					</div>
					<button type="button" class="btn btn-default ascdesc" aria-label="Left Align">
						<a href = "#" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></a>
					</button>
					<button type="button" class="btn btn-default ascdesc" aria-label="Left Align">
						<a href = "#" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></a>
					</button>
					<div class="dropdown">
						<button class=" list-group-item btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">State
							<span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li class = "boxes" ><input type="checkbox"> TX <br /></li>
								<li class = "boxes" ><input type="checkbox"> OR <br /></li>
								<li class = "boxes" ><input type="checkbox"> NY <br /></li>
							</ul>
						</div>
						<div class="dropdown">
							<button class=" list-group-item btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Name
								<span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li class = "boxes" ><input type="checkbox"> A-M <br /></li>
									<li class = "boxes" ><input type="checkbox"> N-P <br /></li>
									<li class = "boxes" ><input type="checkbox"> Q-Z </li>
								</ul>
							</div>
						</div>
					</div>
					
					<div>
						
						{% for i in json_query %}
						<div class="col-md-3 col-sm-6 hero-feature text-center">
							<div class="thumbnail">
								<img src="{{i["label"]}}" width = "150" alt="">
								<div class="caption">
									<h3 class = "name">{{i.name}}</h3>
									<p>
										{{i.type}} <br />
										Est: {{(2017-(i.founded/365))|int}} <br />
										{{i.address}} <br />
									</p>
									<p>
										<a href="/breweries/{{i.id}}/" class="btn btn-primary">More Info</a>
									</p>
								</div>
							</div>
						</div>
						{% endfor %}
						
					</div>
					
				
			</div>	
			
		</body>
		{% endblock %}