{% extends "base.html" %}
{% block title %} Breweries {% endblock %}


{% block content %}
<!-- PLACEHOLDER TABLE, REPLACE ASAP -->
<head>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" media="screen"> 
	<h1 class = "gold" align="center">Breweries</h1> 
	<br />
	<br />
</head>
<body>
	<div id="breweries"></div>	
</body>
<script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/js/breweries.js') }}"></script>
{% endblock %}