{% extends "base.html" %}
{% block title %} Search Results {% endblock %}

{% block content %}
<body>
  
  <div class="grid row">
    <div>
      <h2 class = "center">Search Results For <span class = "gold">{{orHeader}}</span></h2>
      
      {% for i in orResult %}
          <div class="col-md-3 col-sm-6 hero-feature text-center">
            <div class="thumbnail">
              <div style = "margin-top: -8%" class="caption">
                <h4>{{i["name"]}}</h4> <br />
                <p>
                  {% if i["media"] %}
                    <img class="venueimg"src={{i["media"]}} width = "150" alt=""/>
                  {% else %}
                    <img class="venueimg"src={{i["label"]}} width = "150" alt=""/>
                  {% endif %}
                  <br />
                  <br />
                  {% for j in i["results"] %}
                    {{i["results"][j]["string"]}}
                  {% endfor %}
                  <!-- {{i["results"]}} -->
                </p>
                <p>
                  <a href="/{{i["type"]}}/{{i["id"]}}/" class="btn btn-primary">More Info</a>
                </p>
              </div>
            </div>
          </div>
        
      {% endfor %}  
      
    </div>
    
  </div>
  
  <div class="grid row">
    <div>
      <h2 class = "center">Search Results For <span class = "gold">{{andHeader}}</span></h2>
      
      {% for i in andResult %}
          <div class="col-md-3 col-sm-6 hero-feature text-center">
            <div class="thumbnail">
              <div style = "margin-top: -8%" class="caption">
                <h4>{{i["name"]}}</h4> <br />
                <p>
                  {% if i["media"] %}
                    <img class="venueimg"src={{i["media"]}} width = "150" alt=""/>
                  {% else %}
                    <img class="venueimg"src={{i["label"]}} width = "150" alt=""/>
                  {% endif %}
                  <br />
                  <br />
                  {% for j in i["results"] %}
                    {{i["results"][j]["string"]}}
                  {% endfor %}
                  <!-- {{i["results"]}} -->
                </p>
                <p>
                  <a href="/{{i["type"]}}/{{i["id"]}}/" class="btn btn-primary">More Info</a>
                </p>
              </div>
            </div>
          </div>
        
      {% endfor %}  
      
      
    </div>
    
  </div>
  
  
  <!-- scripts -->
  <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>
</body>
{% endblock %}
