{% extends "base.html" %}
{% block title %} Search Results {% endblock %}

{% block content %}
<body>
  <div class="grid row">
    <div>
      <h2 class = "center">Search Results For <span class = "gold">{{orHeader}}</span></h2>
      
      {% for i in range(0, (orResult|length)-1) %}
          <div class="col-md-3 col-sm-6 hero-feature text-center">
            <div class="thumbnail">
              <div style = "margin-top: -8%" class="caption">
                <h4>{{orResult[i]["name"]}}</h4> <br />
                <p>
                  <img class = "venueimg" src = {{orResult[i]["media"]}} width = "150" alt = "" onerror="this.style.display='none'"/>
                  <img class = "venueimg" src = {{orResult[i]["label"]}} width = "150" alt = "" onerror="this.style.display='none'"/>
                  <br />
                  <br />
                  {% for j in orResult[i]["results"] %}
                    {{orResult[i]["results"][j]["string"]}}
                  {% endfor %}
                  <!-- {{i["results"]}} -->
                </p>
                <p>
                  {% if orResult[i]["abbreviation"] %}
                    <a href="/{{orResult[i]["type"]}}/{{orResult[i]["abbreviation"]}}/"  class="btn btn-primary">More Info</a>
                  {% else %}
                  <a href="/{{orResult[i]["type"]}}/{{orResult[i]["id"]}}/"  class="btn btn-primary">More Info</a>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
      {% endfor %}  
      
    </div>
    
  </div>
  
  <div class = "grid row center">
    <ul class="pagination">
      {% for i in range(1, orResult[-1]["length"]) %}
        <li><a href="{{ url_for('search', or_page=i, and_page = and_page, default = query) }}">{{i}}</a></li>
      {% endfor %}
    </ul>
  </div>
  
  
  
  {% if (andResult|length) > 1 %}
  <div class="grid row">
    <div>
      <h2 class = "center">Search Results For <span class = "gold">{{andHeader}}</span></h2>
      
      {% for i in range(0, (andResult|length)-1) %}
          <div class="col-md-3 col-sm-6 hero-feature text-center">
            <div class="thumbnail">
              <div style = "margin-top: -8%" class="caption">
                <h4>{{andResult[i]["name"]}}</h4> <br />
                <p>
                  <img class = "venueimg" src = {{andResult[i]["media"]}} width = "150" alt = "" onerror="this.style.display='none'"/>
                  <img class = "venueimg" src = {{andResult[i]["label"]}} width = "150" alt = "" onerror="this.style.display='none'"/>
                  <br />
                  <br />
                  {% for j in andResult[i]["results"] %}
                    {{andResult[i]["results"][j]["string"]}}
                  {% endfor %}
                  <!-- {{i["results"]}} -->
                </p>
                <p>
                  {% if andResult[i]["abbreviation"] %}
                    <a href="/{{andResult[i]["type"]}}/{{andResult[i]["abbreviation"]}}/"  class="btn btn-primary">More Info</a>
                  {% else %}
                  <a href="/{{andResult[i]["type"]}}/{{andResult[i]["id"]}}/"  class="btn btn-primary">More Info</a>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
      {% endfor %}  
    </div>
  </div>
  {% endif %}
  <div class = "grid row center">
    <ul class="pagination">
      {% for i in range(1, andResult[-1]["length"]) %}
        <li><a href="{{ url_for('search', or_page = or_page, and_page=i, default = query) }}">{{i}}</a></li>
      {% endfor %}
    </ul>
  </div>
  
  
  <!-- scripts -->
  <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
</body>
{% endblock %}
