FORMAT: 1A
HOST: http://pursuitofhoppyness.me

# Pursuit of Hoppyness
PursuitOfHoppyness is a useful API used to help people find the perfect beer for them which they can search through different breweries and venues as well as specifications of the different beers.  


# group Beers 

## Beer Collection [/beers]

### List All Beers [GET /api/beers]
Retrieve a list of all beers from the PursuitOfHoppyness database.

+ Response 200 (application/json)

        [
            {
                "id": "0",
                "name": "Shiner Bock"
            },
            {
                "id": "1",
                "name": "Heineken"
            },
            {
                "id": "2",
                "name": "Blue Moon"
            }
        ]
### Specific Beer [GET /api/beers/{beer_id}]
Retrieve details of a specific beer using its ID from the database including the beer's name, brewery, labels, style, venue, and if it's organic or not.

+ Parameters
    + beer_id (number, required) - the unique id of the beer as an integer
    
+ Response 200 (application/json)

        [
            {
                "abv": 5.2
                "brewery_id": 259,
                "ibu": 33
                "id": "3558",
                "labels": "https://untappd.akamaized.net/site/beer_logos/beer-3558_fe9a9_sm.jpeg",
                "name": "Brooklyn Lager",
                "rating": 3.506
                "state_id": "NY",
                "style": "Lager - Vienna"
                
            }
        ]


# group Brewery 

## Brewery Collection [/brewery]

### List all Breweries [GET /api/breweries]
Retrieve the list of all of the breweries.

+ Response 200 (application/json)

        [
            {
                "id": "0",
                "name": "Hops and Grain",
            },
            {
                "id": "1",
                "name": "Blue Owl"
            },
            {
                "id": "2",
                "name": "Zilker Brewing Company and Taproom"
            }
        ]
        
### Specific Brewery [GET /api/brewery/{brewery_id}]
Retrieve the details of a specific brewery using its ID from the database including its name, brewery type, when it's founded, labels, address, venues, and states.

+ Parameters
    + brewery_id (number, required) - the unique id of the brewery as an integer
    
+ Response 200 (application/json)

        [
            {
                "address": "369 Congress St, Boston, MA",
                "brewery_type": "Micro Brewery",
                "founded": 1893.1081365741,
                "id": 23038,
                "label": "https://untappd.akamaized.net/site/brewery_logos/brewery-trillium_23038.jpeg",
                "name": "Trillium Brewing Company",
                "state_id": "MA"
            }
        ]


# group Venue 

## All Venues [/venue]

###List all Venues [GET /api/venues]
Retrieve the list of all of the venues.

+ Response 200 (application/json)

        [
            {
                "id": "0",
                "name": "The Ginger Man"
            },
            {
                "id": "1",
                "name": "Draught House Pub"
            }
            {
                "id": "2",
                "name": "Craft Pride"
            }
        ]

### Specific Venue [GET /api/venue/{venue_id}]
Retrieve the specific details of a venue using its ID from the database includings its name, media, address, category, state, breweries, and beers.

+ Parameters
    + venue_id (number, required) - the unique id of the venue as an integer
    
+ Response 200 (application/json)

        [
            {
                "address": "10426 National Blvd, Los Angeles, CA", 
                "category": "Mexican Restaurant", 
                "id": 6, 
                "is_public": true, 
                "media": "https://untappd.akamaized.net/photo/2016_08_25/903644606c381723486b7bc34135430b_raw.jpeg", 
                "name": "El Nopal", 
                "state_id": "CA"
            }
        ]


# group State 

## State Collection [/state]

### List all States [GET /api/states]
Retrieves a list of all of the states and their abbreviationsixe.
    
+ Response 200 (application/json)

        [
            {
                "abbreviation": "TX",
                "name": "Texas"
            },
            {
                "abbreviation": "CA",
                "name": "California"
            }
            {
                "abbreviation": "FL",
                "name": "Florida"
            }
        ]
        
### Specific States [GET /api/state/{state_abbreviation}]
Retrieves the specific details of a location using its ID from the database including its name, capital, and media.

+ Parameters
    + state_abbreviation (string, required) - the unique abbreviation of the state as a string

+ Response 200 (application/json)

        [
            {
                "abbreviation": "TX",
                "capital": "Austin",
                "flower": "Bluebonnet",
                "media": "https://en.wikipedia.org/wiki/Flag_of_Texas#/media/File:Flag_of_Texas.svg",
                "name": "Texas"
            }
        
        ]