body {
  font-family:  "Lucida Console", Monaco, monospace;
}
#mycarousel {
    margin-top: -2%;
}
.venueimg {
    height: 50%;
}
.navlist:hover {
  background-color: #FFCE1A;
}
.navbar-brand:hover {
  background-color: #FFCE1A;
}
.navbar {
  border-radius: 0px;
  font-family: "Lucida Console", Monaco, monospace;
}

.about {
  margin-top: 10%;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
}
.center {
  padding: 100px;
  text-align: center;
  margin-top: -6%;
  
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.boxes {
  margin-left: 10px;
}


h2.centernormal {
  text-align: center;
}

.gold {
  color: #FFCE1A;
}

.aboutstatsheader {
  color: #FFCE1A;
  padding-left:40px;
  font-family: "Lucida Console", Monaco, monospace;
}

.aboutstats {
  padding-left: 40px;
  text-align: left;
  width: 50%;
  font-family: "Lucida Console", Monaco, monospace;
}

.individual {
  padding-left: 40px;
  text-align: left;
  font-family: "Lucida Console", Monaco, monospace;
}

.filter {
  padding-left: 40px;
  text-align: left;
  font-family: "Lucida Console", Monaco, monospace;
  border-color: black;
  margin-left: 20px;
}

.tools {
  margin-top: -5%;
}

.text {
  font-size: 15px;
}

.beerlabel {
  width: 12;
  height: 120;
}

div.grid {
  margin-right: 0px;
  margin-left: 0px;
}

.middle {
  text-align: center;
}

.thumbnail {
  height: 375px;
}

.name {
  overflow: hidden;
  height:30px;
}