{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %}

    <div class = "about center">
      <h1>Welcome to <span class = "gold">Pursuit of Hoppyness!</span></h1>

      <br />

      <p class = "center text">
        We are enthusiasts of all things beer, and we want to share our love with you.
        Our goal is to make ordering a pint less stressful, to help support local
        breweries, and to teach people everywhere how to be beer snobs.
      </p>

      <h2 class = "centernormal gold">Drink With Us!</h2> <br /><br /><br />

      <div class="row center">
        <div class="col-lg-4">
          <img class="img-circle" src="/static/img/prakhar.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Prakhar Garg</h2>
          <p>Prakhar is a senior Computer Science student at The University of Texas. He enjoys bouldering, drinking sour beers, and creating random web apps in his spare time. Rails > Flask<br /><br />Major Responsibilities: <span class = "gold">Splash Screen, Navigation, About Page, and Front-End Styling.</span><br />Number of Commits: <span class = "gold">50</span><br />Number of Issues: <span class = "gold">14</span><br />Number of Unit Tests: <span class = "gold">0</span><br />Team Leader for Phase: <span class = "gold">1</span></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="/static/img/cole.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Cole Mayo</h2>
          <p>Cole is a senior Computer Science student at The University of Texas. His hobbies include reading, running, traveling, and drinking 512 Pecan Porters.<br /><br />Major Responsibilities: <span class = "gold">GCP, automation, database model, Travis.</span><br />Number of Commits: <span class = "gold">12</span><br />Number of Issues: <span class = "gold">7</span><br />Number of Unit Tests: <span class = "gold">0</span><br />Team Leader for Phase: <span class = "gold"></span></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="/static/img/amirali.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Amirali Hashim</h2>
          <p>Amirali is a senior Computer Science student at The University of Texas. He enjoys cooking, reading, and playing videogames.<br /><br />Major Responsibilities: <span class = "gold">Apiary and Model Tests</span><br />Number of Commits: <span class = "gold">3</span><br />Number of Issues: <span class = "gold">2</span><br />Number of Unit Tests: <span class = "gold">15</span><br />Team Leader for Phase: <span class = "gold"></span></p>
        </div>
      </div>

    <div class="row center">
      <div class="col-lg-4">
        <img class="img-circle" src="/static/img/arthur_storey.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Arthur Storey</h2>
        <p>Arthur is a senior Computer Science student at The University of Texas. He loves to read, write, and learn new things about computers, astronomy, physics, and more. <br /><br />Major Responsibilities: <span class = "gold">Front End - Grid Pages, Data Collection</span><br />Number of Commits: <span class = "gold">10</span><br />Number of Issues: <span class = "gold">3</span><br />Number of Unit Tests: <span class = "gold">0</span><br />Team Leader for Phase: <span class = "gold"></span></p>
      </div>
      <div class="col-lg-4">
        <img class="img-circle" src="/static/img/arjun_gopisetty.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Arjun Gopisetty</h2>
        <p>Arjun is a junior Computer Science student at The University of Texas. He loves to cook, hike, and hang out with friends when he has free time.<br /><br />Major Responsibilities: <span class = "gold">Individual Pages and back-end JSON of data</span><br />Number of Commits: <span class = "gold">6</span><br />Number of Issues: <span class = "gold">2</span><br />Number of Unit Tests: <span class = "gold">0</span><br />Team Leader for Phase: <span class = "gold"></span></p>
      </div>
      <div class="col-lg-4">
        <img class="img-circle" src="/static/img/pat.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Patrick Moore</h2>
        <p>Patrick is a pretty cool guy. He enjoys many things, one of which happens to be drinking beer.<br /><br />Major Responsibilities: <span class = "gold">UML model, models.py, database and model tests</span><br />Number of Commits: <span class = "gold">37</span><br />Number of Issues: <span class = "gold">4</span><br />Number of Unit Tests: <span class = "gold">0</span><br />Team Leader for Phase: <span class = "gold"></span></p>
      </div>
    </div>
  </div>

  <div class = "tools">


    <h2 class = "aboutstatsheader">Stats</h2>
    <div class = "aboutstats">
      <p>
        Total Number of Commits: <span class = "gold">189</span>
        <br />
        Total Number of Issues: <span class = "gold">33</span>
        <br />
        Total Number of Unit Tests: <span class = "gold">15</span>
        <br />
        Apiary API: <a href="http://docs.pursuitofHoppyness.apiary.io/#" class = "gold">API Doc</a>
        <br />
        GitHub Issue Tracker: <a href="https://github.com/prakhargarg/idb/issues" class = "gold">Issues</a>
        <br />
        GitHub Repo: <a href="https://github.com/prakhargarg/idb" class = "gold">Team Repo</a>
        <br />
        Technical Report <a href="/technical" class = "gold">Team Technical Report</a>
        <br />
      </p>
    </div>

    <br />

    <h2 class = "aboutstatsheader">Data</h2>
    <div class = "aboutstats">
      Source 1: <a href="http://www.brewerydb.com" class = "gold">BreweryDB</a> <br />
        Phase 1: Since we are serving up static pages and don't have a database to work with, we manually looked up
        breweries, locations, beers, and breweries. We manually imported this data into our project. <br /><br />
      Source 2: <a href="https://untappd.com/api/docs" class = "gold">Untapped API</a> <br />
        Phase 1: Since we are serving up static pages and don't have a database to work with, we manually looked up
        breweries, locations, beers, and breweries. We manually imported this data into our project.
    </div>
    <br />

    <h2 class = "aboutstatsheader">Tools</h2>
    <div class = "aboutstats">
      <h3>Front-End</h3>
      <ul>
        <li>
          <a href="http://getbootstrap.com/2.3.2/" class = "gold">Twitter Bootstrap</a>
          <ul>
            <li>
              <i>Carousel</i>- used to create home page with revolving images.
            </li>
            <li>
              <i>Grid System</i>- used to provide the skeleton for the database pages.
            </li>
          </ul>
        </li>
      </ul>

      <h3>Back-End</h3>
      <ul>
        <li>
          <a href="https://console.cloud.google.com/project" class = "gold">GCP Hosting</a>
          <ul>
            <li>
              Used to host our Flask project.
            </li>
          </ul>
        </li>
        <li>
          <a href="http://flask.pocoo.org" class = "gold">Flask</a>
          <ul>
            <li>
              Used to power our app and provide the python framework for development.
            </li>
          </ul>
        </li>
      </ul>

      <h3>Others</h3>
      <ul>
        <li>
          <a href = "https://slack.com" class = "gold">Slack</a>
          <ul>
            <li>
              Used for communication within the Team. Furthermore, we hooked up GitHub, TravisCI, and Google Hangouts to get real-time updates on the project.
            </li>
          </ul>
        </li>
        <li>
          <a href = "https://apiary.io" class = "gold">Apiary</a>
          <ul>
            <li>
              Used to design our API document so that other developers could easily use our API.
            </li>
          </ul>
        </li>
        <li>
          <a href = "https://travis-ci.org/PrakharGarg/idb/" class = "gold">TravisCI</a>
          <ul>
            <li>
              Used to continously test our app with each commit.
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>


{% endblock %}
