{% extends "base.html" %}
{% block title %} Beers {% endblock %}


{% block content %}
<!-- PLACEHOLDER TABLE, REPLACE ASAP -->
<head>
<h1 align="center">Beers</h1>
</head>
<body>
	<div class="container table-responsive">
		<table class="table table-striped" id="beer_table">
			<thead>
				<tr><th>Beers</th>
				<th>Breweries</th>
				<th>Locations</th>
				<th>Venues</th>
			</thead>
			<tbody>
				<tr><td>Beer 1</td><td>Brewery 1</td><td>Location 1</td><td>Venue 1</td></tr>
				<tr><td>Beer 2</td><td>Brewery 2</td><td>Location 2</td><td>Venue 2</td></tr>
				<tr><td>Beer 3</td><td>Brewery 3</td><td>Location 3</td><td>Venue 3</td></tr>
			</tbody>
		</table>
	</div>
</body>
{% endblock %}