{% extends "base.html" %}
{% block title %} Beer - {{beer_info.name}} {% endblock %}

{% block content %}
    <body>
      <div class= "individual">
      	<img src={{ beer_info.label }} alt={{ beer_info.name}} style="width:304px;height:228px;">
      	<h3 class = "gold"> Name </h3>
      	<h4> {{ beer_info.name }} </h4>
       	<h3 class = "gold"> Brewery </h3>
       	<h4> {{ beer_info.brewery.name }} </h4>
       	<h3 class = "gold"> Style </h3>
       	<h4> {{ beer_info.style }} </h4>
       	<h3 class = "gold"> ABV </h3>
       	<h4> {{ beer_info.abv }}% </h4>
       	<h3 class = "gold"> Rating </h3>
       	<h4> {{ beer_info.rating }} </h4>
       	<h3 class = "gold"> Organic </h3>
       	<h4> {{ beer_info.organic }} </h4>
       	<h3 class = "gold"> Brewery </h3>
       	<h4> <a href="/breweries/{{ beer_info.brewery_id }}"> {{ beer_info.brewery.name }} </a> </h4>
       	<h3 class = "gold"> State </h3>
       	<h4> <a href="/states/{{ beer_info.state_id }}"> {{ beer_info.state.name }} </a> </h4>
      </div>
    </body>
{% endblock %}