{% extends "base.html" %}
{% block title %} Beers {% endblock %}


{% block content %}
<!-- PLACEHOLDER TABLE, REPLACE ASAP -->
<head>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" media="screen"> 
    
<h1 class = "gold" align="center">Beers</h1> 
<br />
<br />
</head>
<body>
	
	<div class="grid row text-center">

			<div class="col-md-4 col-sm-6 hero-feature">
					<div class="thumbnail">
							<img src="https:\/\/untappd.akamaized.net\/site\/beer_logos\/beer-_251610_5e1b7f6c8e4f14e29b5f2144ad7e.jpeg" width = "150" alt="">
							<div class="caption">
									<h3>Bearded Seal</h3>
									<p>
										Stout - Irish Dry <br />
										6.1% ABV <br />
										Rating: 3.8/5.0 <br />
									</p>
									<p>
											<a href="/beers/bearded_seal/" class="btn btn-primary">More Info</a>
									</p>
							</div>
					</div>
			</div>

			<div class="col-md-4 col-sm-6 hero-feature">
					<div class="thumbnail">
							<img src="https:\/\/untappd.akamaized.net\/site\/beer_logos\/beer-1995566_d307c_sm.jpeg" width = "150" alt="">
							<div class="caption">
									<h3>Daydream In Green</h3>
									<p>
									IPA - Imperial/Double <br />
									8.1% ABV <br />
									Rating: 4.4/5.0
								</p>
									<p>
											<a href="/beers/daydream_in_green/" class="btn btn-primary">More Info</a>
									</p>
							</div>
					</div>
			</div>

			<div class="col-md-4 col-sm-6 hero-feature">
					<div class="thumbnail">
							<img src="https:\/\/untappd.akamaized.net\/site\/assets\/images\/temp\/badge-beer-default.png" width = "150" alt="">
							<div class="caption">
									<h3>Bursted Citra</h3>
									<p>
										IPA - American <br />
										6% ABV <br />
										Rating: 3.9/5.0
									</p>
									<p>
											<a href="/beers/bursted_citra/" class="btn btn-primary">More Info</a>
									</p>
							</div>
					</div>
			</div>

			</div>

	</div>	

</body>
{% endblock %}