{% extends "base.html" %}
{% block title %} Breweries {{name}} {% endblock %}


{% block content %}
<!-- PLACEHOLDER TABLE, REPLACE ASAP -->
<head>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" media="screen"> 
<h1 align="center">Breweries</h1>
</head>
<body>
	<div class="container table-responsive">
		<table class="table table-striped table-hover" id="brewery_table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Venues</th>
					<th>Type</th>
					<th>Established</th>
					<th>Label</th>
					<th>Beers</th>
					<th>State</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="/breweries/pinthouse_pizza">Pinthouse Pizza</a></td>
					<td><a href="/venues/craft_pride">Craft Pride</a></td>
					<td>Brew Pub</td>
					<td>2012</td>
					<td><img src="https:\/\/untappd.akamaized.net\/site\/brewery_logos\/brewery-pinthousepizza_43305.jpeg" width = "60" hight = "60""></td>
					<td><a href="/beers/bearded_seal">Bearded Seal</a></td>
					<td><a href="https://www.google.com/maps/place/Pinthouse+Pizza/@30.3187536,-97.7412431,17z/data=!3m1!4b1!4m5!3m4!1s0x8644ca61075aba57:0x5fa76a6195298de4!8m2!3d30.3187536!4d-97.7390544">TX</a></td>
				</tr>
				<tr>
					<td><a href="/breweries/other_half_brewing_company">Other Half Brewing Company</a></td>
					<td><a href="/venues/rattle_n_hum">Rattle N Hum</a></td>
					<td>Micro Brewery</td>
					<td>2014</td>
					<td><img src="https:\/\/untappd.akamaized.net\/site\/brewery_logos\/brewery-OtherHalfBrewing_94785_7c587.jpeg" width = "60" hight = "60"></td>
					<td><a href="/beers/daydream_in_green">Daydream In Green</a></td>
					<td><a href="https://www.google.com/maps/place/Other+Half+Brewing+Company/@40.6738904,-74.0012481,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25af6c9c771c9:0x16538793c681a49b!8m2!3d40.6738864!4d-73.9990594">NY</a></td>
				</tr>
				<tr>
					<td><a href="/Breweries/el_segundo_brewing_company">El Segundo Brewing Company</a></td>
					<td><a href="/venues/the_beermongers">The BeerMongers</a></td>
					<td>Micro Brewery</td>
					<td>2011</td>
					<td><img src="https:\/\/untappd.akamaized.net\/site\/brewery_logos\/brewery-11688_fbaaa.jpeg" width = "60" hight = "60"></td>
					<td><a href="/beers/bursted_citra">Bursted Citra</a></td>
					<td><a href="https://www.google.com/maps/place/El+Segundo+Brewing+Company/@33.9176998,-118.4178367,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b141f755dd97:0xf99d99dde2ebd008!8m2!3d33.9176954!4d-118.415648">TX</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		$('#brewery_table').DataTable();
	});
	</script>
</body>
{% endblock %}