{% extends "base.html" %}
{% block title %} Brewery - {{brewery_info.name}} {% endblock %}

{% block content %}
    <body>
      <div class = "individual">
      	<img src={{ brewery_info.label }} alt={{ brewery_info.name }} style="width:304px;height:228px;">
      	<h3 class = "gold"> Name </h3>
      	<h4> {{ brewery_info.name }} </h4>
       	<h3 class = "gold"> Type </h3>
       	<h4> {{ brewery_info.brewery_type }} </h4>
       	<h3 class = "gold"> Founded </h3>
       	<h4> {{ brewery_info.founded }} </h4>
       	<h3 class = "gold"> Address </h3>
       	<h4> {{ brewery_info.address }} </h4>
       	<h3 class = "gold"> Venues </h3>
        {% for i in venues %}
       	  <h4> <a href="/beers/{{ i.id }}"> {{ i }} </a> </h4>    
        {% endfor %}
       	<h3 class = "gold"> Beers </h3>
        {% for i in beers %}
       	  <h4> <a href="/beers/{{ i.id }}"> {{ i.name }} </a> </h4>    
        {% endfor %}
       	<h3 class = "gold"> State </h3>
       	<h4> <a href="/states/{{ brewery_info.state_id }}"> {{ brewery_info.state.name }} </a> </h4>    
      </div>
    
    </body>
{% endblock %}