{% extends "base.html" %}
{% block title %} Breweries {{name}} {% endblock %}


{% block content %}
<!-- PLACEHOLDER TABLE, REPLACE ASAP -->
<head>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" media="screen"> 
<h1 align="center">Breweries</h1>
</head>
<body>
	<div class="grid row text-center">

			<div class="col-md-4 col-sm-6 hero-feature">
					<div class="thumbnail">
							<img src="https:\/\/untappd.akamaized.net\/site\/brewery_logos\/brewery-pinthousepizza_43305.jpeg" width = "150" alt="">
							<div class="caption">
									<h3>Pinthouse Pizza</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
									<p>
											<a href="/breweries/craft_pride/" class="btn btn-primary">More Info</a>
									</p>
							</div>
					</div>
			</div>

			<div class="col-md-4 col-sm-6 hero-feature">
					<div class="thumbnail">
							<img src="https:\/\/untappd.akamaized.net\/site\/brewery_logos\/brewery-OtherHalfBrewing_94785_7c587.jpeg" width = "150" alt="">
							<div class="caption">
									<h3>Other Half Brewing Company</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
									<p>
											<a href="/breweries/rattle_n_hum/" class="btn btn-primary">More Info</a>
									</p>
							</div>
					</div>
			</div>

			<div class="col-md-4 col-sm-6 hero-feature">
					<div class="thumbnail">
							<img src="https:\/\/untappd.akamaized.net\/site\/brewery_logos\/brewery-11688_fbaaa.jpeg" width = "150" alt="">
							<div class="caption">
									<h3>El Segundo Brewing Company</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
									<p>
											<a href="/breweries/the_beermongers/" class="btn btn-primary">More Info</a>
									</p>
							</div>
					</div>
			</div>

			</div>

	</div>	

</body>
{% endblock %}