{% extends "base.html" %}
{% block title %} Breweries {{name}} {% endblock %}


{% block content %}
<!-- PLACEHOLDER TABLE, REPLACE ASAP -->
<head>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" media="screen"> 
<h1 class = "gold" align="center">Breweries</h1>
<br />
<br />
</head>
<body>
	<div class="grid row text-center">

			<div class="col-md-4 col-sm-6 hero-feature">
					<div class="thumbnail">
							<img src="https:\/\/untappd.akamaized.net\/site\/brewery_logos\/brewery-pinthousepizza_43305.jpeg" width = "150" alt="">
							<div class="caption">
									<h3>Pinthouse Pizza</h3>
									<p>
										Brew Pub <br />
										Est. 2012 <br />
										4729 Burnet Rd. Austin, TX<br />
									</p>
									<p>
											<a href="/breweries/pinthouse_pizza/" class="btn btn-primary">More Info</a>
									</p>
							</div>
					</div>
			</div>

			<div class="col-md-4 col-sm-6 hero-feature">
					<div class="thumbnail">
							<img src="https:\/\/untappd.akamaized.net\/site\/brewery_logos\/brewery-OtherHalfBrewing_94785_7c587.jpeg" width = "150" alt="">
							<div class="caption">
									<h3>Other Half Brewing Company</h3>
									<p>
										Mirco Brewery<br />
										Est. 2014 <br />
										195 Centre St. Brooklyn, NY<br />
									</p>
									<p>
											<a href="/breweries/other_half_brewing_company/" class="btn btn-primary">More Info</a>
									</p>
							</div>
					</div>
			</div>

			<div class="col-md-4 col-sm-6 hero-feature">
					<div class="thumbnail">
							<img src="https:\/\/untappd.akamaized.net\/site\/brewery_logos\/brewery-11688_fbaaa.jpeg" width = "150" alt="">
							<div class="caption">
									<h3>El Segundo Brewing Company</h3>
									<p>
										Micro Brewery <br />
										Est. 2011 <br />
										140 Main St. El Segundo, CA <br />
									</p>
									<p>
											<a href="/breweries/el_segundo_brewing_company/" class="btn btn-primary">More Info</a>
									</p>
							</div>
					</div>
			</div>

			</div>

	</div>	

</body>
{% endblock %}