{% extends "base.html" %}
{% block title %}Pursuit of Hoppiness{% endblock %}


{% block content %}
<head>
<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  @media (min-width: 1200px) {
  .container {
    width: 800px;
}}
  body {
    background-color: lightblue;
  }
  div.container {
    background-color: lightgoldenrodyellow;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 5%;
  }
  .carousel-indicators {
    bottom: -10px;
  }
  </style>
</head>
<body>
<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/img/beer_1.jpg" alt="Chania" width="460" height="345">
      </div>

      <div class="item">
        <img src="/static/img/beer_2.jpg" alt="Chania" width="460" height="345">
      </div>
    
      <div class="item">
        <img src="/static/img/beer_3.jpg" alt="Flower" width="460" height="345">
      </div>

    </div>
  </div>
</div>
{% endblock %}