{% extends "base.html" %}
{% block title %} Locations {% endblock %}


{% block content %}
<!-- PLACEHOLDER TABLE, REPLACE ASAP -->
<head>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" media="screen"> 
<h1 align="center">Locations</h1>
</head>
<body>
	<div class="container table-responsive">
		<table class="table table-striped table-hover" id="location_table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Breweries</th>
					<th>Venues</th>
					<th>Media</th>
					<th>Media Feed</th>
					<th>State</th>
				</tr>
			</thead>
			<tbody>
				<tr><td>Name 1</td><td>Brewery 1</td><td>Venue 1</td><td>Media1(pics)</td><td>Media Feed 1</td><td>State 1</td></tr>
				<tr><td>Name 2</td><td>Brewery 2</td><td>Venue 2</td><td>Media2(pics)</td><td>Media Feed 2</td><td>State 2</td></tr>
				<tr><td>Name 3</td><td>Brewery 3</td><td>Venue 3</td><td>Media3(pics)</td><td>Media Feed 3</td><td>State 3</td></tr>
				
			</tbody>
		</table>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		$('#location_table').DataTable();
	});
	</script>
</body>
{% endblock %}