{% extends "base.html" %}
{% block title %} State - {{name}} {% endblock %}

{% block content %}
    <body>
    	<h1>{{ state_info["name"] }}</h1>
    	<img src={{ state_info["media"] }} alt={{ state_info['name'] }} style="width:304px;height:228px;">
    	<h2> State Details </h2>
    	<h3> Name </h3>
    	<h4> {{ state_info["name"] }} </h4>
     	<h3> Capital </h3>
     	<h4> {{ state_info["capital"] }} </h4>
     	<h3> Abbreviation </h3>
     	<h4> {{ state_info["abbreviation"] }} </h4>
     	<h3> State Flower </h3>
     	<h4> {{ state_info["flower"] }} </h4>
     	<h3> Venues </h3>
     	<h4> <a href="/venues/{{ state_info["venue_id"] }}"> {{ state_info["venue"] }} </a> </h4>
     	<h3> Breweries </h3>
     	<h4> <a href="/breweries/{{ state_info["brewery_id"] }}"> {{ state_info["brewery"] }} </a> </h4>
    </body>
{% endblock %}