{% extends "base.html" %}
{% block title %} State - {{state_info.name}} {% endblock %}

{% block content %}
    <body>
      <div class= "individual">
      	<img src={{ state_info.media }} alt={{ state_info.name }} style="width:304px;height:228px;">
      	<h3 class = "gold"> Name </h3>
      	<h4> {{ state_info.name }} </h4>
       	<h3 class = "gold"> Capital </h3>
       	<h4> {{ state_info.capital }} </h4>
       	<h3 class = "gold"> Abbreviation </h3>
       	<h4> {{ state_info.abbreviation }} </h4>
       	<h3 class = "gold"> State Flower </h3>
       	<h4> {{ state_info.flower }} </h4>
       	<h3 class = "gold"> Venues </h3>
        {% for i in venues %}
       	  <h4> <a href="/venues/{{ i.id}}"> {{ i.name }} </a> </h4>
        {% endfor %}
       	<h3 class = "gold"> Breweries </h3>
        {% for i in breweries %}
       	  <h4> <a href="/breweries/{{ i.id }}"> {{ i.name }} </a> </h4>
        {% endfor %}
      </div>
    </body>
{% endblock %}