{% extends "base.html" %}
{% block title %} States {% endblock %}


{% block content %}
<!-- PLACEHOLDER TABLE, REPLACE ASAP -->
<head>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" media="screen"> 
<h1 class = "gold" align="center">States</h1>
<br />
<br />
</head>
<body>
	<div class="grid row text-center">

			<div class="col-md-4 col-sm-6 hero-feature">
					<div class="thumbnail">
							<img src="/static/img/texasflag.png" width = "150"  height = "150" alt="">
							<div class="caption">
									<h3>Texas</h3>
									<p>
										TX <br />
										Capital: Austin <br />
										Flower: Bluebonnet <br />
									</p>
									<p>
											<a href="/states/texas/" class="btn btn-primary">More Info</a>
									</p>
							</div>
					</div>
			</div>

			<div class="col-md-4 col-sm-6 hero-feature">
					<div class="thumbnail">
							<img src="/static/img/newyorkflag.png" width = "150" height = "150" alt="">
							<div class="caption">
									<h3>New York</h3>
									<p>
										NY <br />
										Capital: Albany <br />
										Flower: Rose <br />
									</p>
									<p>
											<a href="/states/new_york/" class="btn btn-primary">More Info</a>
									</p>
							</div>
					</div>
			</div>

			<div class="col-md-4 col-sm-6 hero-feature">
					<div class="thumbnail">
							<img src="/static/img/oregonflag.png" width = "150"  height = "150" alt="">
							<div class="caption">
									<h3>Oregon</h3>
									<p>
										OR <br />
										Capital: Salem <br />
										Flower: Oregon Grape <br />
									</p>
									<p>
											<a href="/states/oregon/" class="btn btn-primary">More Info</a>
									</p>
							</div>
					</div>
			</div>

			</div>

	</div>	
</body>
{% endblock %}