{% extends "base.html" %}
{% block title %} Venues {% endblock %}


{% block content %}
<!-- PLACEHOLDER TABLE, REPLACE ASAP -->
<head>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" media="screen"> 
<h1 align="center">Venues</h1>
</head>
<body>
	<div class="container table-responsive">
		<table class="table table-striped table-hover" id="venue_table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Beers</th>
					<th>Breweries</th>
					<th>Media</th>
					<th>Category</th>
					<th>State</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><a href="/venues/craft_pride">Craft Pride</a></td>
					<td><a href="/beers/bearded_seal">Bearded Seal</a></td>
					<td><a href="/Breweries/pinthouse_pizza">Pinthouse Pizza</a></td>
					<td><img src="https:\/\/untappd.akamaized.net\/venuelogos\/venue_597840_aaf578d8_bg_64.png"></td>
					<td>Beer Bar<br>Beer Garden</td>
					<td><a href="https://www.google.com/maps/place/Craft+Pride/@30.2580184,-97.7390315,17z/data=!4m13!1m7!3m6!1s0x8644b5abcc8d6245:0x9083e81864d0c1ab!2s61+Rainey+St,+Austin,+TX+78701!3b1!8m2!3d30.2579261!4d-97.7388256!3m4!1s0x8644b5abccc73fd9:0x40c34bd76f2366b4!8m2!3d30.2579114!4d-97.7387927">TX</a></td>
				</tr>

				<tr>
					<td><a href="/venues/rattle_n_hum">Rattle N Hum</a></td>
					<td><a href="/beers/daydream_in_green">Daydream In Green</a></td>
					<td><a href="/Breweries/other_half_brewing_company">Other Half Brewing Company</a></td>
					<td><img src="https:\/\/untappd.akamaized.net\/venuelogos\/venue_2845_e817b5a8_bg_64.png"></td>
					<td>Bar</td>
					<td><a href="https://www.google.com/maps/place/Rattle+N+Hum+East/@40.7473529,-73.9864471,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259a839d48b31:0x3ba74e3e9d452157!8m2!3d40.7473489!4d-73.9842584">NY</a></td>
				</tr>
				<tr>
					<td><a href="/venues/the_beermongers">The BeerMongers</a></td>
					<td><a href="/beers/bursted_citra">Bursted Citra</a></td>
					<td><a href="/Breweries/el_segundo_brewing_company">El Segundo Brewing Company</a></td>
					<td><img src="https:\/\/untappd.akamaized.net\/venuelogos\/venue_8350_220bb816_bg_64.png"></td>
					<td>Beer Bar<br>Beer Store</td>
					<td><a href="https://www.google.com/maps/place/The+BeerMongers/@45.5051015,-122.6563359,17z/data=!3m1!4b1!4m5!3m4!1s0x54950a773c1396dd:0xbdb8193a8f04420e!8m2!3d45.5050978!4d-122.6541472">OR</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		$('#venue_table').DataTable();
	});
	</script>
</body>
{% endblock %}