{% extends "base.html" %}
{% block title %} Venues {% endblock %}


{% block content %}
<!-- PLACEHOLDER TABLE, REPLACE ASAP -->
<head>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" media="screen"> 
	<h1 align="center" class = "gold">Venues</h1>
	<br />
	<br />
</head>
<body>
	
	<div class="grid row text-center">
		<div class="col-md-3">
			<div class="list-group">
				<div class="dropdown">
					<button class=" list-group-item btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort By
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="#">Name</a></li>
							<li><a href="#">Type</a></li>
							<li><a href="#">Address</a></li>
						</ul>
					</div>
					<div class="dropdown">
						<button class=" list-group-item btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">State
							<span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li class = "boxes" ><input type="checkbox"> TX <br /></li>
								<li class = "boxes" ><input type="checkbox"> OR <br /></li>
								<li class = "boxes" ><input type="checkbox"> NY <br /></li>
							</ul>
						</div>
						<div class="dropdown">
							<button class=" list-group-item btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Name
								<span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li class = "boxes" ><input type="checkbox"> A-M <br /></li>
									<li class = "boxes" ><input type="checkbox"> N-P <br /></li>
									<li class = "boxes" ><input type="checkbox"> Q-Z </li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6 hero-feature">
						<div class="thumbnail">
							<img src="https:\/\/untappd.akamaized.net\/venuelogos\/venue_597840_aaf578d8_bg_64.png" width = "150" alt="">
							<div class="caption">
								<h3>Craft Pride</h3>
								<p>
									Nightlife Spot
									Public <br />
									61 Rainey St. Austin, TX <br />
								</p>
								<p>
									<a href="/venues/craft_pride/" class="btn btn-primary">More Info</a>
								</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6 hero-feature">
						<div class="thumbnail">
							<img src="https:\/\/untappd.akamaized.net\/venuelogos\/venue_2845_e817b5a8_bg_64.png" width = "150" alt="">
							<div class="caption">
								<h3>Rattle N Hum</h3>
								<p>
									Nightlife Spot
									Public <br />
									14 E 33rd St. New York, NY <br />
								</p>
								<p>
									<a href="/venues/rattle_n_hum/" class="btn btn-primary">More Info</a>
								</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6 hero-feature">
						<div class="thumbnail">
							<img src="https:\/\/untappd.akamaized.net\/venuelogos\/venue_8350_220bb816_bg_64.png" width = "150" alt="">
							<div class="caption">
								<h3>The BeerMongers</h3>
								<p>
									Nightlife Spot
									Public <br />
									1125 SE Division St. Portland, OR <br />
								</p>
								<p>
									<a href="/venues/the_beermongers/" class="btn btn-primary">More Info</a>
								</p>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>	
		</body>
		{% endblock %}