{% extends "base.html" %}
{% block title %} Venue - {{name}} {% endblock %}

{% block content %}
    <body>
    	<h1>{{ name }}</h1>
    	<img src={{ venue_info["media"] }} alt={{ venue_info['name'] }} style="width:304px;height:228px;">
    	<h2> Venue Details </h2>
    	<h3> Name </h3>
    	<h4> {{ venue_info["name"] }} </h4>
     	<h3> Category </h3>
     	<h4> {{ venue_info["category"] }} </h4>
     	<h3> Address </h3>
     	<h4> {{ venue_info["address"] }} </h4>
     	<h3> Public </h3>
     	<h4> {{ venue_info["is_public"] }} </h4>
     	<h3> Beers </h3>
     	<h4> <a href="/beers/{{ beer }}"> {{ beer }} </a> </h4>
     	<h3> State </h3>
     	<h4> <a href="/states/{{ state }}"> {{ state }} </a> </h4>
     	<h3> Brewery </h3>
     	<h4> <a href="/breweries/{{ brewery }}"> {{ brewery }} </a> </h4>
    </body>
{% endblock %}